h1 {color: rgb(0, 0, 0); background-color:rgb(105, 173, 222) ; font-size:30px; text-align: center; margin-bottom: 3%; margin-left: 30% ; margin-right: 30%; padding-bottom: 10%; border-style: double;}
a {color:blue}
a.virtual{color: #FF0000}
a.estrategia{color:#11CC00}
p {text-align:center; font-style: italic; background-color: black;color: aquamarine; margin-left: 35%; margin-right:35%}
p.left{text-align: center; font-style: oblique; background-color: white; color: black; margin-left: 20%; margin-right:20%}
ul.center{text-align: center;}
/* CSS Document */

#box1 {
    position:absolute;
    top: 30px;
    left: 30px;
    background: red;
    width: 50px;
    height: 50px;
}

#box2 {
    position:absolute;
    top: 30px;
    right: 30px;
    background: blue;
    width: 50px;
    height: 50px;
}

#box3 {
    position:absolute;
    bottom: 30px;
    right: 30px;
    background: yellow;
    width: 50px;
    height: 50px;
}

#box4 {
    position:absolute;
    bottom: 30px;
    left: 30px;
    background: green;
    width: 50px;
    height: 50px;    
}
